src/node-red/flows.json
[{"id":"d562b362.c38f8","type":"tab","label":"ReceiveSimplisafeSensorStatus","disabled":false,"info":""},{"id":"6ebd2cd8.9bd7e4","type":"tab","label":"PersistSensorStatus","disabled":false,"info":""},{"id":"c15edf4a.47eae","type":"tab","label":"LoadSensorStatusAndShow","disabled":false,"info":"Load sensor status from DB and show the status on Dashboard."},{"id":"4023b44a.13860c","type":"tab","label":"CreateSensorDefintion","disabled":false,"info":"Create sensor definition and save it to DB."},{"id":"85382571.452a98","type":"tab","label":"ShowSensorStatusHistory","disabled":false,"info":""},{"id":"95678dd.ffd097","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4a84a9d3.7dce98","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"194145ad.4ae3fa","type":"ui_group","z":"","name":"Door Sensor","tab":"4a84a9d3.7dce98","order":2,"disp":true,"width":"8","collapse":false},{"id":"4c9e3712.c0f5d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"57a79323.e5e69c","type":"ui_group","z":"","name":"Security System","tab":"4a84a9d3.7dce98","order":1,"disp":true,"width":"8","collapse":false},{"id":"b1dc33c1.f10a6","type":"MySQLdatabase","z":"","name":"Database","host":"127.0.0.1","port":"3306","db":"HomeAutomation","tz":"UTC","charset":"UTF8"},{"id":"e1114c04.65573","type":"ui_tab","z":"","name":"Admin","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"bb1f60ec.0e785","type":"ui_group","z":"","name":"Add New Sensor","tab":"e1114c04.65573","order":2,"disp":true,"width":"6","collapse":false},{"id":"cb8b4434.147c58","type":"ui_group","z":"","name":"Motion Senor","tab":"4a84a9d3.7dce98","order":3,"disp":true,"width":"8","collapse":false},{"id":"a544c0d3.b2ff5","type":"ui_group","z":"","name":"Show Sensor history","tab":"7e92a4fa.de312c","order":1,"disp":true,"width":"12","collapse":false},{"id":"8b1e555f.49c508","type":"ui_group","z":"","name":"Time","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"7e92a4fa.de312c","type":"ui_tab","z":"","name":"History","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"436c820b.9c0a3c","type":"ui_group","z":"","name":"Dashboard","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"dd2a29a4.d56668","type":"mqtt in","z":"d562b362.c38f8","name":"All RTL_433 message","topic":"rtl_433/#","qos":"2","datatype":"json","broker":"95678dd.ffd097","x":120,"y":60,"wires":[["dc3febb0.b32d38","b140f9de.7ac248"]]},{"id":"fb3fea65.7f8638","type":"file","z":"d562b362.c38f8","name":"log file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":650,"y":60,"wires":[[]]},{"id":"f8fcac86.c6fc6","type":"mysql","z":"d562b362.c38f8","mydb":"b1dc33c1.f10a6","name":"HA Database","x":670,"y":120,"wires":[["5986b069.221a"]]},{"id":"dc3febb0.b32d38","type":"function","z":"d562b362.c38f8","name":"checkDuplicateEvent","func":"if (msg.payload.extradata === null || msg.payload.extradata == \"\") {\n    msg.payload.extradata = \"-\";\n}\nflow.set('sensorEvent', msg.payload);\n\nvar sensorEvent = msg.payload;\nvar sensorStatus = \"\";\nif (sensorEvent.extradata.startsWith(\"Disarm Pin\")) {\n    sensorStatus=\"Disarm\";\n} else if (sensorEvent.extradata.startsWith(\"Contact \")) {\n    sensorStatus=sensorEvent.extradata.substring(\"Contact \".length);\n} else {\n    sensorStatus=sensorEvent.extradata;\n}\nflow.set('sensorStatus', sensorStatus);\n\nvar newMsg={\n  payload:{\n    sensor_id:msg.payload.id,\n    seq:msg.payload.seq,\n  }\n}\nnewMsg.topic=\"SELECT sensor_id, sensor_status, seq, latest_updated_at FROM latestSensorStatus WHERE sensor_id = :sensor_id AND seq = :seq\"\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":120,"wires":[["f8fcac86.c6fc6"]]},{"id":"b140f9de.7ac248","type":"moment","z":"d562b362.c38f8","name":"","topic":"","input":"","inputType":"date","inTz":"America/Los_Angeles","adjAmount":0,"adjType":"days","adjDir":"add","format":"[C:\\tools\\rtl_433\\log\\rtl_input_log-]YYYYMMDD[.txt]","locale":"en_US","output":"filename","outputType":"msg","outTz":"America/Los_Angeles","x":400,"y":60,"wires":[["fb3fea65.7f8638"]]},{"id":"895ac665.4ed498","type":"ui_form","z":"4023b44a.13860c","name":"","label":"","group":"bb1f60ec.0e785","order":2,"width":0,"height":0,"options":[{"label":"Sensor ID","value":"sensor_id","type":"text","required":true,"rows":null},{"label":"Sensor Name","value":"sensor_name","type":"text","required":true,"rows":null}],"formValue":{"sensor_id":"","sensor_name":""},"payload":"","submit":"submit","cancel":"clear","topic":"","x":90,"y":100,"wires":[["4eef87d4.88de48"]]},{"id":"79c5ccd1.a77164","type":"ui_dropdown","z":"4023b44a.13860c","name":"sensor_type","label":"Sensor Type","tooltip":"","place":"","group":"bb1f60ec.0e785","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Open/Close Sensor","value":"ContactSensor","type":"str"},{"label":"Keypad","value":"Keypad","type":"str"},{"label":"Montion Sensor","value":"MotionSensor","type":"str"},{"label":"Keychain Remote","value":"KeychainRemote","type":"str"},{"label":"Glass Break Sensor","value":"GlassBreakSensor","type":"str"}],"payload":"","topic":"","x":110,"y":160,"wires":[["dec1fe5c.de577"]]},{"id":"dec1fe5c.de577","type":"function","z":"4023b44a.13860c","name":"storeSensorTypeToFlow","func":"flow.set('sensorType', msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":160,"wires":[[]]},{"id":"4eef87d4.88de48","type":"function","z":"4023b44a.13860c","name":"buildCreateSensorMessage","func":"var sensorType=flow.get('sensorType') || null;\nif (sensorType == null) {\n    return null;\n}\n\nvar newMsg={\n  payload:{\n    sensor_id:msg.payload.sensor_id,\n    sensor_name:msg.payload.sensor_name,\n    sensor_type:sensorType,\n  }\n}\nnewMsg.sensorId=msg.payload.sensor_id;\nnewMsg.topic=\"INSERT INTO sensorInfo (`sensor_id`, `sensor_name`, `sensor_type`) VALUES (:sensor_id, :sensor_name, :sensor_type) ON DUPLICATE KEY UPDATE sensor_name = :sensor_name, sensor_type = :sensor_type\"\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":100,"wires":[["786a09d1.1006a8"]]},{"id":"786a09d1.1006a8","type":"mysql","z":"4023b44a.13860c","mydb":"b1dc33c1.f10a6","name":"HA Database","x":670,"y":100,"wires":[["e302c50e.978e28"]]},{"id":"e302c50e.978e28","type":"ui_text","z":"4023b44a.13860c","group":"bb1f60ec.0e785","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.sensorId}} has been updated.","layout":"row-spread","x":910,"y":100,"wires":[]},{"id":"ea01250a.3b9258","type":"inject","z":"c15edf4a.47eae","name":"RefreshUiWithPersistedSensorStatus","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10800","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":60,"wires":[["740ccc57.cb4064"]]},{"id":"9455d494.fe4148","type":"mysql","z":"c15edf4a.47eae","mydb":"b1dc33c1.f10a6","name":"HA Database","x":610,"y":220,"wires":[["cddd6dc5.82ed9","16ffd838.6e84a8","291a4229.cb019e"]]},{"id":"6c011225.3fb84c","type":"function","z":"c15edf4a.47eae","name":"getLatestSensorStatus","func":"var newMsg={};\nnewMsg.topic=\"SELECT S.sensor_id, I.sensor_name, I.sensor_type, S.sensor_status, S.latest_updated_at, S.latest_pinged_at FROM latestSensorStatus S LEFT JOIN sensorInfo I   ON S.sensor_id = I.sensor_id WHERE I.sensor_type NOT IN (\\\"Keypad\\\", \\\"KeychainRemote\\\")\";\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["9455d494.fe4148"]]},{"id":"27fb2fc0.372f4","type":"function","z":"c15edf4a.47eae","name":"getLatestAlarmSystemStatus","func":"var newMsg={};\nnewMsg.topic=\"SELECT S.sensor_id, I.sensor_name, I.sensor_type, S.sensor_status, S.latest_updated_at FROM latestSensorStatus S LEFT JOIN sensorInfo I   ON S.sensor_id = I.sensor_id WHERE I.sensor_type IN (\\\"Keypad\\\", \\\"KeychainRemote\\\") ORDER BY S.latest_updated_at DESC LIMIT 1\";\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":160,"wires":[["a2ebefd2.81038"]]},{"id":"a2ebefd2.81038","type":"mysql","z":"c15edf4a.47eae","mydb":"b1dc33c1.f10a6","name":"HA Database","x":610,"y":160,"wires":[["187fe8e.febf317"]]},{"id":"ef956ed5.1c42c","type":"ui_table","z":"c15edf4a.47eae","group":"cb8b4434.147c58","name":"motionSensors","order":1,"width":"8","height":3,"columns":[{"field":"sensor_name","title":"Name","width":"40%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"sensor_status","title":"Status","width":"20%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"latest_updated_at","title":"Timestamp","width":"30%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"latest_pinged_at","title":"Last pinged","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1180,"y":280,"wires":[]},{"id":"c0e0711b.7cccc","type":"ui_table","z":"c15edf4a.47eae","group":"194145ad.4ae3fa","name":"doorSensors","order":1,"width":"8","height":4,"columns":[{"field":"sensor_name","title":"Name","width":"40%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"sensor_status","title":"Status","width":"20%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"latest_updated_at","title":"Timestamp","width":"40%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1170,"y":220,"wires":[]},{"id":"cddd6dc5.82ed9","type":"function","z":"c15edf4a.47eae","name":"filterDoorSensors","func":"var i;\nlet outputArray = new Array();\nfor (i = 0; i < msg.payload.length; i++) {\n    // do something with msg.payload[i]\n    if (msg.payload[i].sensor_type==\"ContactSensor\") {\n        outputArray.push(msg.payload[i]);\n    }\n}\nmsg.payload = outputArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":220,"wires":[["c0e0711b.7cccc"]]},{"id":"16ffd838.6e84a8","type":"function","z":"c15edf4a.47eae","name":"filterMotionSensors","func":"var i;\nlet outputArray = new Array();\nfor (i = 0; i < msg.payload.length; i++) {\n    // do something with msg.payload[i]\n    if (msg.payload[i].sensor_type==\"MotionSensor\" || msg.payload[i].sensor_type==\"GlassBreakSensor\") {\n        outputArray.push(msg.payload[i]);\n    }\n}\nmsg.payload = outputArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":280,"wires":[["ef956ed5.1c42c"]]},{"id":"496c9d25.531de4","type":"link in","z":"c15edf4a.47eae","name":"refreshUI","links":["af5cc051.c0e45","740ccc57.cb4064","f09dea46.05c578"],"x":55,"y":160,"wires":[["27fb2fc0.372f4","6c011225.3fb84c"]]},{"id":"740ccc57.cb4064","type":"link out","z":"c15edf4a.47eae","name":"","links":["496c9d25.531de4"],"x":465,"y":60,"wires":[]},{"id":"291a4229.cb019e","type":"function","z":"c15edf4a.47eae","name":"storeSensorInfoGlobal","func":"global.set('allSensors', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":340,"wires":[["6f9dbc65.a69b74"]]},{"id":"6f9dbc65.a69b74","type":"link out","z":"c15edf4a.47eae","name":"","links":["59a9531a.d0fd0c","28415afd.0622f6"],"x":1115,"y":340,"wires":[]},{"id":"187fe8e.febf317","type":"ui_table","z":"c15edf4a.47eae","group":"57a79323.e5e69c","name":"securitySystemStatus","order":1,"width":"8","height":2,"columns":[{"field":"sensor_status","title":"Status","width":"30%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"sensor_name","title":"Changed by","width":"35%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"latest_updated_at","title":"Changed at","width":"35%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1200,"y":160,"wires":[]},{"id":"690cad1e.cff264","type":"ui_dropdown","z":"85382571.452a98","name":"","label":"","tooltip":"","place":"Select option","group":"a544c0d3.b2ff5","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"","x":440,"y":60,"wires":[["7efe26d4.4c3458"]]},{"id":"3f5aeeea.776e52","type":"function","z":"85382571.452a98","name":"populateSensorSelection","func":"var allSensors = global.get('allSensors');\nif (allSensors === null) {\n    return null;\n}\n\nvar i;\nvar outputArray = [];\noutputArray.push({\"Security System\":\"security\"});\nfor (i = 0; i < allSensors.length; i++) {\n    // do something with msg.payload[i]\n    var dropdownListItem = {};\n    dropdownListItem[allSensors[i].sensor_name] = allSensors[i].sensor_id;\n    outputArray.push(dropdownListItem);\n}\nvar newMsg = {};\nnewMsg.payload = \"\";\nnewMsg.options = outputArray;\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":60,"wires":[["690cad1e.cff264"]]},{"id":"28415afd.0622f6","type":"link in","z":"85382571.452a98","name":"populateSensorSelectionDropdown","links":["edd3596f.d50e78","6f9dbc65.a69b74"],"x":55,"y":60,"wires":[["3f5aeeea.776e52"]]},{"id":"7efe26d4.4c3458","type":"function","z":"85382571.452a98","name":"getSensorStatusHistory","func":"var newMsg={};\nif (msg.payload == \"security\") {\n    newMsg.topic=\"SELECT E.sensor_id, I.sensor_name, E.sensor_status, E.created_at FROM sensorEvent E JOIN sensorInfo I   ON E.sensor_id = I.sensor_id WHERE I.sensor_type IN (\\\"Keypad\\\", \\\"KeychainRemote\\\") ORDER BY E.created_at DESC LIMIT 10\"; \n} else {\n    newMsg.payload={sensor_id:msg.payload};\n    newMsg.topic=\"SELECT E.sensor_id, I.sensor_name, E.sensor_status, E.created_at FROM sensorEvent E JOIN sensorInfo I   ON E.sensor_id = I.sensor_id WHERE E.sensor_id = :sensor_id ORDER BY E.created_at DESC LIMIT 10\"; \n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":60,"wires":[["c5392327.47af7"]]},{"id":"c5392327.47af7","type":"mysql","z":"85382571.452a98","mydb":"b1dc33c1.f10a6","name":"HA Database","x":870,"y":60,"wires":[["daa598c2.eadc28"]]},{"id":"daa598c2.eadc28","type":"ui_table","z":"85382571.452a98","group":"a544c0d3.b2ff5","name":"sensorStatusHistory","order":1,"width":"12","height":"7","columns":[{"field":"sensor_id","title":"ID","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"sensor_name","title":"Sensor Name","width":"40%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"sensor_status","title":"Status","width":"20%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"created_at","title":"Timestamp","width":"30%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1080,"y":60,"wires":[]},{"id":"5986b069.221a","type":"link out","z":"d562b362.c38f8","name":"","links":["2016402f.8035b","42e83a29.b59514"],"x":815,"y":120,"wires":[]},{"id":"5be847a2.d92338","type":"mqtt out","z":"6ebd2cd8.9bd7e4","name":"","topic":"smartthings/Front Door Sensor/contact/set_state","qos":"1","retain":"true","broker":"95678dd.ffd097","x":860,"y":80,"wires":[]},{"id":"6282ea89.35dbd4","type":"mysql","z":"6ebd2cd8.9bd7e4","mydb":"b1dc33c1.f10a6","name":"HA Database","x":1010,"y":200,"wires":[[]]},{"id":"e9b667a1.cff5d8","type":"function","z":"6ebd2cd8.9bd7e4","name":"buildEventUpdateMessage","func":"var sensorEvent=flow.get('sensorEvent') || null;\nif (sensorEvent == null) {\n    return null;\n}\n\nvar sensorStatus=flow.get('sensorStatus') || null;\nif (sensorStatus === null) {\n    return null;\n}\n\nvar newMsg={\n  payload:{\n    sensor_id:sensorEvent.id,\n    sensor_status:sensorStatus,\n    seq:sensorEvent.seq,\n    sensor_status_raw:sensorEvent.extradata,\n    state:sensorEvent.state\n  }\n}\nnewMsg.topic=\"INSERT INTO sensorEvent (`sensor_id`, `sensor_status`, `seq`, `sensor_status_raw`, `state`) VALUES (:sensor_id, :sensor_status, :seq, :sensor_status_raw, :state)\"\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":200,"wires":[["723bff56.1d9be"]]},{"id":"314a1f75.cc65d","type":"switch","z":"6ebd2cd8.9bd7e4","name":"isNewEvent","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":80,"wires":[["e9b667a1.cff5d8","d08ce328.29b86","80edf56.6b15b08"]]},{"id":"723bff56.1d9be","type":"switch","z":"6ebd2cd8.9bd7e4","name":"needToInsertToDatabase","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":200,"wires":[["6282ea89.35dbd4"]]},{"id":"d08ce328.29b86","type":"function","z":"6ebd2cd8.9bd7e4","name":"buildSmartThingsUpdateMessage","func":"var sensorEvent=flow.get('sensorEvent') || null;\nif (sensorEvent == null) {\n    return null;\n}\nvar sensorStatus=flow.get('sensorStatus') || null;\nif (sensorStatus == null) {\n    return null;\n}\n\nvar newMsg={\n  payload:{\n    sensor_id:sensorEvent.id,\n    sensor_status:sensorStatus,\n  }\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":80,"wires":[["5be847a2.d92338"]]},{"id":"80edf56.6b15b08","type":"function","z":"6ebd2cd8.9bd7e4","name":"buildUpdateLatestSensorStatusMessage","func":"var sensorEvent=flow.get('sensorEvent') || null;\nif (sensorEvent === null) {\n    return null;\n}\n\nvar sensorStatus=flow.get('sensorStatus') || null;\nif (sensorStatus === null) {\n    return null;\n}\n\n// var sensorStatus = \"\";\n// if (sensorEvent.extradata.startsWith(\"Disarm Pin\")) {\n//     sensorStatus=\"Disarm\";\n// } else if (sensorEvent.extradata.startsWith(\"Contact \")) {\n//     sensorStatus=sensorEvent.extradata.substring(\"Contact \".length);\n// } else {\n//     sensorStatus=sensorEvent.extradata;\n// }\n\nvar newMsg={\n  payload:{\n    sensor_id:sensorEvent.id,\n    sensor_status:sensorStatus,\n    seq:sensorEvent.seq,\n  }\n}\nif (sensorStatus == \"-\") {\n    newMsg.topic=\"INSERT INTO latestSensorStatus (`sensor_id`, `sensor_status`, `seq`) VALUES (:sensor_id, :sensor_status, :seq) ON DUPLICATE KEY UPDATE seq = :seq, latest_pinged_at = now()\";\n} else {\n    newMsg.topic=\"INSERT INTO latestSensorStatus (`sensor_id`, `sensor_status`, `seq`) VALUES (:sensor_id, :sensor_status, :seq) ON DUPLICATE KEY UPDATE sensor_status = :sensor_status, seq = :seq, latest_updated_at = now()\";\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":140,"wires":[["746f775a.65df58"]]},{"id":"746f775a.65df58","type":"switch","z":"6ebd2cd8.9bd7e4","name":"needToInsertToDatabase","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":140,"wires":[["a609c5b5.2a9d58"]]},{"id":"a609c5b5.2a9d58","type":"mysql","z":"6ebd2cd8.9bd7e4","mydb":"b1dc33c1.f10a6","name":"HA Database","x":1010,"y":140,"wires":[["f09dea46.05c578"]]},{"id":"f09dea46.05c578","type":"link out","z":"6ebd2cd8.9bd7e4","name":"","links":["496c9d25.531de4"],"x":1135,"y":140,"wires":[]},{"id":"42e83a29.b59514","type":"link in","z":"6ebd2cd8.9bd7e4","name":"persistSensorEvent","links":["5986b069.221a"],"x":55,"y":80,"wires":[["314a1f75.cc65d"]]}]